@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

.container {
    width: auto;
    height: auto;
    background-color: #EEEEEE;
    margin: 0 auto;
    border: 1px solid #d4d4d4;
}

.logo {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1;
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    padding: 12px 21px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.logo>h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    color: #FFFFFF;
}

.logo>h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

.content {
    width: auto;
    height: auto;
    padding-top: 31px;
    margin-top: 92px;
    margin-bottom: 100px;
}

.content>h2 {

    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 17px;
    color: #333333;
    padding-left: 20px;
}

.menu-food,
.menu-drink,
.menu-dessert {
    display: flex;
    width: auto;
    height: auto;
    overflow-x: scroll;
    margin-bottom: 26px;
    padding: 10px 20px;
}

.card1,
.card2,
.card3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #FFFFFF;
    height: auto;
    width: auto;
    border-radius: 9px;
    padding: 14px 14px;
    margin-right: 20px;
}

.card1>img,
.card2>img,
.card3>img {
    justify-content: center;
    border-radius: 10px;
    width: 144px;
    height: 87px;
    object-fit: cover;
}

.card1>h3,
.card2>h3,
.card3>h3 {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: #333333;
}

.card1>h4,
.card2>h4,
.card3>h4 {
    font-family: 'Roboto', sans-serif;
    color: #A6A6A6;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: auto;
    margin-top: 10px;
}

.card1>span,
.card2>span,
.card3>span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-top: auto;
    margin-top: 10px;

}


.box-button {
    position: fixed;
    bottom: 0;
    right: 1;
    background-color: #FFFFFF;
    height: 92px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 25px;
}

button {
    background-color: #CBCBCB;
    height: 61px;
    width: 364px;
    border: none;
    border-radius: 50px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.finish {
    background-color: rgba(50, 183, 47, 1);
}
.card-border {
    outline: 5px solid rgba(50, 183, 47, 1);
}

ion-icon {
    display: none;
    color: rgba(50, 183, 47, 1);
}

.card-border ion-icon {
    display: inherit;
    position: absolute;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    bottom: 15px;
    right: 10px;
}